<div class="flex flex-col min-w-fit bg-slate-900 text-white text-xs">
    <div class="flex min-w-fit h-14 border md:p-2 p-1 justify-evenly">
        <button iv routerLink="" class=" flex items-center justify-center h-full min-w-fit hover:border-b ">
            <img class="flex lg:w-28 md:w-20 w-12" src="assets/amazon.png" />
        </button>
        <div class="flex h-full flex-col border md:justify-normal justify-center min-w-fit">
            <div class="flex md:pl-5  text-gray-300">
                <p class="md:inline hidden">Delivering to</p> <div class="md:hidden inline"><img class="h-5 w-5" src="assets/location.svg" /></div> &nbsp; {{currentCity}}<p class="md:inline hidden">, {{currentCountry}}</p>
            </div>
            <div class="md:flex hidden">
                <img class="h-5 w-5" src="assets/location.svg" />
                <div class="sm:block hidden md:text-base text-xs font-bold">
                    Update <p class="md:inline hidden"> location</p>
                </div>
            </div>
        </div>
        <div class="flex h-full justify-center ">
            <button class="flex border-black rounded-sm bg-gray-300 hover:bg-gray-600 md:w-12 md:text-sm text-xs w-7 justify-center items-center p-2 text-gray-700 font-bold ease-in-out duration-200">
               <div class="">ALL</div>
                <img src="assets/down.svg" class= "w-2 h-5"/>
            </button>
            <input class=" text-black xl:w-cxl lg:w-96 md:w-72 sm:w-52 scroll-m-40 h-full" type="text" placeholder="Search..." id="search" name="search" [(ngModel)]="searchItem"  (input)="searchByInput($event)"/>
            <button class=" bg-yellow-400 md:p-2  min-w-fit" (click)="search()">
                <img class="w-6" src="assets/magnifinedGlass.png" />
            </button>
        </div>
        <div class="xl:flex hidden border rounded-xl hover:bg-black justify-center items-center">
            <img class="w-5 h-5" src="assets/indiaFlag.png" />EN
            <select name="language" class="bg-slate-900 w-5 h-5">
                <option value="EN">EN</option>
                <option value="ES">ES</option>
            </select>
        </div>
        <button routerLink="/signin" class="flex flex-col border-2 justify-center min-w-fit">
            <div class=" text-gray-300 border" *ngIf="currentUser.email==null">
                Hello, sign in
            </div>
            <div class="text-gray-300" *ngIf="currentUser.email!=null">
                Hello,  {{currentUser.name?.split(' ')![0]}}
            </div>
            <div class="lg:flex hidden">
                <div class=" text-base font-bold">
                    Account & list
                    <select name="language" class="bg-slate-900 w-5 h-5">
                        <option value="EN">EN</option>
                        <option value="ES">ES</option>
                    </select>
                </div>
            </div>
        </button>
        <button class="sm:flex hidden h-full flex-col border" routerLink="/history">
            <div class="pl-5 text-gray-300">
                Returns
            </div>
            <div class="flex">
                <div class=" text-base font-bold">
                    & Orders
                </div>
            </div>
        </button>
        <div class="flex h-full flex-col justify-start  items-center border min-w-fit">
            <div class="text-orange-400 font-bold text-lg h-4 ">
               {{numberOfItemsInCart}}
            </div>
            <button routerLink="/cart" class="flex">
                <img class="h-10 w-10 border" src="assets/cart.png" />
            </button>
        </div>
    </div>
    <div class="flex w-full bg-slate-700 ">
        <div class="flex w-14  border">
            <button
                class="flex flex-col justify-around h-6 w-6 bg-transparent border border-transparent rounded-md focus:outline-none">
                <span class="bar bg-black h-1 w-full rounded-md"></span>
                <span class="bar bg-black h-1 w-full rounded-md"></span>
                <span class="bar bg-black h-1 w-full rounded-md"></span>
            </button>
        </div>
        <div class="md:flex hidden w-24 min-w-fit border text-sm justify-center items-center">
            <button> Best Sellers</button>
        </div>
        <div class="md:flex hidden w-24  border min-w-fit text-sm justify-center items-center">
            <button> Deals Store </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> New Releases </button>
        </div>
        <div class="md:flex hidden w-24 border min-w-fit text-sm justify-center items-center">
            <button>Toys Games </button>
        </div>
        <div class="md:flex hidden w-24 border min-w-fit text-sm justify-center items-center">
            <button> Gift Ideas </button>
        </div>
        <div class="md:flex hidden w-24 border  min-w-fit text-sm justify-center items-center">
            <button> Audible </button>
        </div>
        <div class="lg:flex hidden w-24 border min-w-fit text-sm justify-center items-center">
            <button> Electronics </button>
        </div>
        <div class="lg:flex hidden w-24 border min-w-fit text-sm justify-center items-center">
            <button> Home </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> Books </button>
        </div>
        <div routerLink="/payment"  class="flex flex-grow min-w-fit border text-sm justify-center items-center ">
            <button> Shop Big Deals </button>
        </div>
    </div>
</div>