<div class="flex flex-col md:w-screen min-w-fit bg-slate-900 text-white text-xs ">
    <div class="flex w-full h-14 border p-2 justify-evenly">
        <a routerLink="" class=" flex items-center justify-center h-full w-32 p-2 border ">
            <img class="border" src="assets/amazon.png" />
        </a>
        <div class="flex h-full flex-col min-w-fit border">
            <div class="pl-5 text-gray-300">
                Delivering to Balzac T4B 2T
            </div>
            <div class="flex">
                <img class="h-5 w-5 border" src="assets/location.svg" />
                <div class=" text-base font-bold">
                    Update location
                </div>
            </div>
        </div>
        <div class="flex md:w-6/12 border">
            <div class="flex border-black rounded-md bg-gray-500 hover:bg-gray-600 w-10 justify-center items-center">
                ALL
                <select name="language" class="bg-gray-500 hover:bg-gray-600 w-5 h-5">
                    <option value="EN">EN</option>
                    <option value="ES">ES</option>
                </select>
            </div>
            <input class="w-full h-full" type="text" placeholder="Search..." id="search" name="search" />
            <button class="w-10 bg-yellow-400 p-2">
                <img class="w-full" src="assets/magnifinedGlass.png" />
            </button>
        </div>
        <div class="flex border rounded-xl hover:bg-black justify-center items-center">
            <img class="w-5 h-5" src="assets/canadaFlag.png" />EN
            <select name="language" class="bg-slate-900 w-5 h-5">
                <option value="EN">EN</option>
                <option value="ES">ES</option>
            </select>
        </div>
        <div class="flex h-full flex-col min-w-fit border">
            <div class="pl-5 text-gray-300">
                Hello, sign in
            </div>
            <div class="flex">
                <img class="h-5 w-5 border" src="assets/location.svg" />
                <div class=" text-base font-bold">
                    Account & list
                    <select name="language" class="bg-slate-900 w-5 h-5">
                        <option value="EN">EN</option>
                        <option value="ES">ES</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex h-full flex-col min-w-fit border">
            <div class="pl-5 text-gray-300">
                Returns
            </div>
            <div class="flex">
                <img class="h-5 w-5 border" src="assets/location.svg" />
                <div class=" text-base font-bold">
                    & Orders
                </div>
            </div>
        </div>
        <div class="flex h-full flex-col min-w-fit  items-center border">
            <div class="text-orange-400 font-bold text-lg h-4">
               {{numberOfItemsInCart}}
            </div>
            <button routerLink="/cart" class="flex">
                <img class="h-10 w-10 border" src="assets/cart.png" />

            </button>
        </div>
    </div>
    <div class="flex w-full bg-slate-700 ">
        <div class="flex w-14  border">
            <button
                class="flex flex-col justify-around h-6 w-6 bg-transparent border border-transparent rounded-md focus:outline-none">
                <span class="bar bg-black h-1 w-full rounded-md"></span>
                <span class="bar bg-black h-1 w-full rounded-md"></span>
                <span class="bar bg-black h-1 w-full rounded-md"></span>
            </button>
        </div>
        <div class="flex w-24 min-w-fit border text-sm justify-center items-center">
            <button> Best Sellers</button>
        </div>
        <div class="flex w-24  border min-w-fit text-sm justify-center items-center">
            <button> Deals Store </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> New Releases </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button>Toys Games </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> Gift Ideas </button>
        </div>
        <div class="flex w-24 border  min-w-fit text-sm justify-center items-center">
            <button> Audible </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> Electronics </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> Home </button>
        </div>
        <div class="flex w-24 border min-w-fit text-sm justify-center items-center">
            <button> Books </button>
        </div>
        <div class="flex flex-grow min-w-fit border text-sm justify-center items-center">
            <button> Shop Big Deals </button>
        </div>
    </div>
</div>