<div class="flex min-h-fit w-screen relative ">
    <div class="flex h-screen w-full "> 
        <app-banner></app-banner>
        <div class="h-1/2 w-full absolute top-1/2 bg-gradient-to-b from-transparent to-white z-10 ">
        </div>
    </div>
    <div class="flex flex-col w-full min-h-fit top-1/2 absolute z-20 ">
       
        <div *ngIf="items" class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 w-full p-10 gap-x-10 gap-y-10 ">
            
            <div *ngFor="let i of items.slice(0, 8); let ind=index">
                <app-card [item]="i" [ind]="ind"></app-card>
            </div>
        </div>
        <div *ngIf="items && items.length>8" class="w-full min-h-fit  ">
            <img src="assets/add1.jpg" />
        </div>
        <div *ngIf="items && items.length>8" class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 w-full p-10 gap-x-10 gap-y-10 ">
            <div *ngFor="let i of items.slice(8, items.length); let ind=index">
                <app-card [item]="i" [ind]="ind" ></app-card>
            </div>
        </div>
    </div>
</div>