<div class="flex flex-col  p-5 justify-center items-center bg-white w-full hover:shadow-xl shadow-lg hover:skew-y-2 hover:ease-in duration-500 rounded-sm" >
    <div class="flex justify-end h-10 w-full font-thin text-gray-700 overflow-hidden">
        {{item?.category}}
    </div>
    <div class="flex w-40 h-44 justify-center items-center overflow-hidden  ">
        <img [src]="item?.image" />
    </div>
   
    <div class="flex h-12 my-2 w-full overflow-hidden hover:overflow-scroll ">
        {{item?.title}}
    </div>
    <div class=" font-Nunito my-2">
        Price ${{item?.price}}
    </div>
    <div class="my-2">
        rating: {{item?.rating?.rate}}
        out of: {{item?.rating?.count}}
    </div>
    <button (click)="selectItems()" class="rounded-lg w-full bg-yellow-300 hover:bg-yellow-400 text-center p-2 hover:scale-105 hover:ease-in-out duration-500 ">
        Add to Cart
    </button>
</div>