<div class="flex flex-col items-center justify-evenly border-8 w-full p-2 ">
    <div class="flex items-start mb-2">
        <img  class=" w-32"src="assets/amazon.png"/>
    </div>
    <div class="flex flex-col border-2 shadow-sm w-96 p-8 justify-evenly rounded-xl">
        <div class="flex text-3xl font-Nunito border">
            <h1>Sign in</h1>
        </div>
        <form class="flex flex-col text-sm h-32 justify-evenly border">
            <div class="flex flex-col">
                <label class="font-extrabold " for="email">E-mail address or mobile phone number</label>
                <input class="border rounded-sm h-8" type="text" id="email" name="email" placeholder="Enter your email here"/>
            </div>
            <button class="bg-yellow-300 rounded-lg p-1 mx-1 hover:bg-yellow-400" onclick="">Continue</button>
        </form>
        <div class="h-48 justify-evenly flex flex-col ">
            <div class="flex text-xs border">
                <p>By continuing, you agree to Amazon's <a>Conditions of Use</a> and <a>Privacy Notice.</a></p>
            </div>
            <div class="flex border-b text-sm">
                <p>next?</p>
            </div>
            <div class="flex border-b text-sm">
            </div>
            <div class="flex flex-col border text-sm ">
                <p> Buying for work?</p>
                <p> Shop on Amazon Business</p>
            </div>
        </div>
    </div>
    <div class="flex h-10 mt-5 p-2">
        <button class="border rounded-lg"> Create your Amazon account</button>
    </div>
</div>