<div class="flex  min-h-fit w-full">
    <div class="flex flex-col h-screen w-screen">
        <div class="flex w-full md:px-40  py-10 relative">
            <img src="assets/add1.jpg" class="h-36 object-cover w-full " />
            <button
                class="md:block hidden w-24 p-1 text-sm rounded-md absolute top-0 right-0 z-10 mt-20 mr-48 bg-gray-200">Learn
                More</button>
        </div>
        <div class="flex flex-grow h-full w-full  justify-evenly">
            <div class="flex w-3/4 h-full " *ngIf="purchasedProducts?.length==0">
                <div class="flex w-2/3">
                    <img src="assets/jugs.svg" />
                </div>
                <div class="flex flex-col justify-evenly w-full h-full ">
                    <div class="flex justify-start items-center md:text-3xl text-md h-1/2">
                        Please sign In to view your order history
                    </div>
                    <div class="flex justify-center items-start  h-1/2">
                        <button routerLink="/signin" *ngIf="currentUser?.email==null"
                            class="bg-yellow-400 hover:bg-yellow-400 hover:scale-105 transition ease-in-out duration-500 p-1 rounded-md w-32">Sign
                            In </button>
                    </div>
                </div>
            </div>
            <div *ngIf="purchasedProducts!.length>0" class="flex flex-col h-full w-3/4">
                <div class="flex justify-start w-full md:text-3xl text-md py-5">
                    Your Order History
                </div>
                <ng-container *ngFor="let items of purchasedProducts; let ind=index">
                    <div class="flex flex-col flex-grow h-full w-full md:text-lg text-sm "
                        *ngFor="let item of items.product; let ind=index">
                        <div class="flex h-full justify-evenly p-4 shadow-lg hover:shadow-xl ease-in-out duration-700 ">
                            <div class="flex h-full max-w-32">
                                <img class="h-32 w-32" [src]="item?.image" />
                            </div>
                            <div class="flex flex-col w-full h-full">
                                <div class="flex  p-2 w-full md:text-lg text-sm  ">
                                    {{item?.title}}
                                </div>
                                <div
                                    class="flex p-2 w-full max-h-24 overflow-hidden hover:overflow-scroll md:text-lg text-sm font-Nunito my-2">
                                    {{item.description}}
                                </div>
                                <div class="flex p-2 w-full  md:text-lg text-sm font-Nunito my-2">
                                    Price $ {{item?.price}}
                                </div>
                                <div class="flex p-2 w-full  md:text-lg text-sm my-2">
                                    rating: {{item.rating.rate}}
                                    out of: {{item.rating.count}}
                                </div>
                                <div class="flex flex-col justify-evenly items-center ">
                                    <button (click)="addToCart(item)"
                                        class="rounded-lg w-48 bg-yellow-300 hover:bg-yellow-400 text-center p-2 my-4  hover:shadow-2xl ease-in-out duration-700 hover:text-orange-600">
                                        Re-order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>

        </div>
    </div>
</div>