<div class="flex h-full w-screen relative">
    <button class="flex h-1/2 justify-center items-center  w-20 z-10 absolute top-0">></button>
    <div [@fadeInOut]="count" class="flex h-full w-screen items-start justify-center border-8 ">
        <video *ngIf="count<0"  autoplay loop class=" w-full  h-full  object-cover" >
            <source src="assets/shoppingVideo.mp4" type="video/mp4"  />
            Your browser does not support the video.
        </video>
        <img *ngIf="count>=0" [src]="backgroundImages[count]" class="w-full h-full  object-cover"/>
    </div>
    <button class="flex h-1/2 justify-center items-center  w-20 z-10 absolute top-0 right-0">></button>
</div>