<div class="flex flex-col items-center justify-evenly top-0 absolute h-screen w-screen -z-10"  *ngIf="responseMessage==null">
    <div class="flex items-start  mt-24  ">
        <img  class=" w-32"src="assets/amazon2.png"/>
    </div>
    <div class="flex flex-grow flex-col shadow-sm md:w-96 sm:w-80 w-72  h-1/3 px-8 py-4 justify-evenly rounded-xl border border-gray-400">
        <div class="flex md:text-3xl sm:text-2xl text-lg font-Nunito  ">
            <h1>Create Account</h1>
        </div>
        <form  [formGroup]="myForm" (ngSubmit)="onsubmit()" class="flex flex-col text-sm md:h-1/2 h-2/3 justify-evenly ">
            <div class="flex flex-col">
                <label class="font-extrabold md:text-sm text-xs " for="name">Your Name</label>
                <input class="border rounded-sm h-8 p-2" type="text" id="name" formControlName="name" placeholder="Your first and last name"/>
                <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched" class="text-red-500 mt-1 text-xs">Name is required</div>
            </div>
            <div class="flex flex-col">
                <label class="font-extrabold md:text-sm text-xs" for="email">E-mail address</label>
                <input class="border rounded-sm h-8 p-2" type="text" id="email" formControlName="email" placeholder="Enter your email here"/>
                <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-red-500 mt-1 text-xs">Email is required</div>

            </div>
            <div class="flex flex-col">
                <label class="font-extrabold md:text-sm text-xs" for="phone">Phone</label>
                <input class="border rounded-sm h-8 p-2" type="tel" id="phone" formControlName="phone" placeholder="Enter your phone here"/>
                <div *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched" class="text-red-500 mt-1 text-xs">format: +91XXXXXXX is required</div>

            </div>
            <div class="flex flex-col">
                <label class="font-extrabold md:text-sm text-xs " for="password">Password</label>
                <input class="border rounded-sm h-8 p-2" type="password" id="password" formControlName="password" placeholder="Your password"/>
                <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="text-red-500 mt-1 text-xs">Password should have 1 special, 1 captital, 1 number</div>

            </div>
            <button class="bg-yellow-300 p-2 transition ease-in-out duration-700 hover:scale-105 rounded-lg  mx-1 hover:bg-yellow-400" onclick="">Continue</button>
        </form>
        <div class="h-48 justify-evenly flex flex-col ">
            <div class="flex text-xs border">
                <p>By continuing, you agree to Amazon's <a>Conditions of Use</a> and <a>Privacy Notice.</a></p>
            </div>
            <div class="flex border-b text-sm">
                <p>next?</p>
            </div>
            <div class="flex border-b text-sm">
            </div>
            <div class="flex flex-col border text-sm ">
                <a routerLink="/signin">Already have an account? Sign in</a>
            </div>
        </div>
    </div>

</div>

<div class="h-screen w-screen flex  items-center justify-center bg-black bg-opacity-20" *ngIf="responseMessage!=null">
    <div class="flex flex-col p-10 w-96 border shadow-md hover:shadow-lg z-50 bg-white items-center ">
        <div class="text-center font-bold text-lg mb-5 duration-1000 animate-pulse">{{responseMessage}}</div>
       <button class="rounded-lg p-4 border bg-yellow-400 hover:bg-yellow-500 hover:scale-105 ease-in-out duration-1000" (click)="responseGone()"> Continue </button>
    </div>
</div>
   